Suggestion: allow to validate recipients with names

Hey! First of all thanks for truemail, I'm looking forward to implement it with a few of our apps.

I was wondering, why `Name <email>` format is not supported out of the box?

Thanks!

Hola, Pablo! 😃 Current Truemail implementation is about validation/verification of `addr-spec` specifed in [RFC 5322, sec. 3.4.1](https://tools.ietf.org/html/rfc5322#section-3.4.1). While you suggest to validate `angle-addr`, described in [RFC 5322, sec. 3.4](https://tools.ietf.org/html/rfc5322#section-3.4). Also it's not a library's responsobility to validate recipient's name. However, thanks for your suggestion! 🍺 